.latest-arrivals {
    padding: 60px 20px;
}

.latest-arrivals-container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.latest-arrivals-title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: var(--bold-color);
}

.latest-arrivals-sub-title {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: #383838;
}

.arrivals-carousel {
    padding-top: 50px;
    position: relative;
}

.arrivals-swiper {
    padding: 0 30px 30px;
}

.arrivals-swiper .swiper-button-next,
.arrivals-swiper .swiper-button-prev {
    color: var(--bold-color);
    background-color: var(--title-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.arrivals-swiper .swiper-button-next svg,
.arrivals-swiper .swiper-button-prev svg {
    width: 15px;
    height: 15px;
}

.arrivals-swiper .swiper-button-next:hover,
.arrivals-swiper .swiper-button-prev:hover {
    background-color: var(--bold-color);
    color: var(--title-color);
}

.arrivals-swiper .swiper-pagination-bullet {
    display: none;
    background-color: var(--bold-color);
    opacity: 0.3;
}

.arrivals-swiper .swiper-pagination-bullet-active {
    opacity: 1;
}
